@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>
    Functionalities: 
</p>
<p>
    <ul>
        <li>
            [Done] Create, update or delete an item
        </li>
        <li>
            [Done] Display a list of items or a single item
        </li>
        <li>[Done] Searching</li>
        <li>[Done] Paging</li>
        <li>Sorting</li>
        <li>Login & logout</li>
        <li>Role management</li>
        <li>[Done] Feedback box</li>
    </ul>
</p>
